
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
   <div class="row">
    <div style="height: 450px">
      <div class="boxed">
        
        <%= link_to image_tag(product.image_url, class: "img-responsive", id:"pic1"), product %>

        <h2><%= link_to product.name, product %></h2>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <p><strong> $ <%=product.price %></strong></p>
    
     </div>  
    </div>
  </div>     
</div>


     