
  <div class="col-sm-2 col-md-4 col-lg-4">
  	<div style="height: 450px">
    <%= image_tag(product.image_url, class: "img-responsive", id:"pic")%>

        <div class="boxed">
        <h2><%= product.name %></h1>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <strong> <%=product.price %></strong>
    </div>
  </div>      
</div>

     