<p id="notice"><%= notice %></p>
<div class="container", id="display">
  <div class="row">
    <div class="col-sm-4 col-md-8 col-lg-8">
      
        <h4><strong>
          <%= @product.name %>
        </strong></h4>
    <br>
      <%= image_tag(@product.image_url, id:"pic2", class: "img-zoom", data_zoom_image:@product.image_url) %>
    <br>
      <p>
        <strong class="glyphicon glyphicon-minus"></strong>Description:
          <%= @product.description %>
      </p>

      <p>
	       <strong class="glyphicon glyphicon-minus"></strong>Colour:
	         <%= @product.colour %>
      </p>
      <p>
	     <strong class="glyphicon glyphicon-minus"></strong>Price: $
	       <%= @product.price %>
      </p>
      <br>
    
    
    <div class="container" id="payments">
      <%= form_tag "/payments/create" do %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: "shared/stripe_checkout_button" %>
    </div> 
    <br>
  <div class="review">
    <%= render partial: 'new_comment' %>

    <%= render partial: 'comments' %>
  </div>
  <br>
    </div>
  </div>
    <div class="container" id="average-rating">  
      <h5><%= will_paginate @comments %></h5>
    </div>
    <div id="links">
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    </div> 
</div>
<% end %>