<p id="notice"><%= notice %></p>
<div class="container", id="display">
  <div class="row">
    <div class="col-sm-4 col-md-8 col-lg-8">
<h4>
  <strong>
  <%= @product.name %>
  </strong>
</h4>
<br>
<%= image_tag(@product.image_url, class: "img-responsive", id:"pic2") %>
<br>
<p>
  <strong class="glyphicon glyphicon-minus">Description:</strong>
  <%= @product.description %>
</p>

<p>
	<strong class="glyphicon glyphicon-minus">Colour:</strong>
	<%= @product.colour %>
</p>
<p>
	<strong class="glyphicon glyphicon-minus">Price:</strong> $
	<%= @product.price %>
</p>
<br>
      <div class="review">
        <%= render partial: 'new_comment' %>

        <%= render partial: 'comments' %>
        <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
      </div>
      <br>
    </div>
  </div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

</div>